/* universal selector */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#f-1 {
    margin: auto 2vw;
}

fieldset {
    display: flex;
    height: 65vh;
    width: 90vw;
    flex-direction: column;
    /* border: 2px solid black; */
}

.same {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

#submit {
    width: 15vw;
    cursor: pointer;
}

#submit:hover {
    color: black;
    background-color: antiquewhite;
}