/* universal selector */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}


/* navbar header */

nav {
    border: 2px solid red;
    margin: auto;
    padding: auto;
    display: flex;
    background-color: rgb(71, 71, 71);
    height: 10vh;
}

nav header {
    margin: auto;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    font-weight: bold;
    font-size: 150%;
}


/* container -staff place  */

.container {
    height: 50vh;
    width: 50vw;
    /* border: 2px solid red; */
    background-color: black;
    margin-top: 25vh;
    margin-left: auto;
    margin-right: auto;
}

.container form {
    color: aliceblue;
    font-size: 2rem;
    display: flex;
    align-items: center;
    height: 30vh;
    width: 30vw;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}

.container form .inp-1 {
    margin: 2vh 4vw;
    height: 2vh;
    padding: 1vw;
    width: 24vw;
    border: 0.1rem solid aqua;
    border-radius: 2rem;
}

.container form label {
    margin: auto 4vw;
    /* height: 2vh; */
    /* padding: 1vw; */
}

.l-1 {
    font-size: 1rem;
}

.btn-1 {
    margin: 2vh 4vw;
    height: 8vh;
    width: 7vw;
    font-size: large;
    font-weight: bold;
    font-style: normal;
    border: 0.1rem solid black;
    border-radius: 1vw;
    background-color: red;
    color: black;
    font-size: 1rem;
    text-align: justify;
    cursor: pointer;
}

.btn-1:hover {
    /* margin: 2vh 4vw; */
    /* height: 2vh; */
    /* padding: 1vw; */
    /* border: 0.1rem solid aqua; */
    background-color: whitesmoke;
    color: black;
    /* font-size: 1rem; */
    /* text-align: justify; */
}